<head>
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/css/style-pedidos-flex.css" rel="stylesheet" type="text/css">
</head>
<header>
    @{
        Html.RenderPartial("_HeadernavBar");
    }
</header>

<main>
    <h2>@ViewData["Controller"] efetuado com sucesso!</h2>
</main>